
 .archive-content {
    padding: 2rem 0rem;
 }
 .archive-content>li{
     width: 90%;
     margin: 0 auto;
     padding-bottom: 1.5rem;
 }

 .archive-content .is-size-4 {
     padding-left: 6px;
 }
 .archive-list li {
    border-bottom: 2px solid whitesmoke;
    cursor: pointer;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
 }
 .archive-list li  .icon {
    margin-right: 10px;
}
.archive-list li .icon i {
    font-size: 0.6rem;
}
.archive-list li .time {
    margin-right: 20px;
}
@media screen and (min-width: 1024px) {
    .archive-content {
        padding: 3rem;
    }
  }