.tag-content {
    padding: 2rem 1rem;
}
@media screen and (min-width: 1024px) {
    .tag-content {
        padding:3rem;
    }
  }
.article-list ,.tag-content h5{
      width: 90%;
      margin: 0 auto;
  }
.tag-content .is-size-4 {
    padding-left: 6px;
}
.article-list li {
    border-bottom: 2px solid whitesmoke;
    cursor: pointer;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
 }
.article-list li  .icon {
    margin-right: 10px;
}
.article-list li .icon i {
    font-size: 0.6rem;
}
.article-list li .time {
    margin-right: 20px;
}