@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
}

@layer components {
  .tag {
    @apply box-content p-2 bg-base-200 rounded mx-2 mb-4 opacity-80;
  }
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
